#div1,
#div2,
#div3 {
  width: 80px;
  height: 80px;
  margin: 10px;
  display: none;
}

#div1 {
  background-color: red;
}

#div2 {
  background-color: green;
}

#div3 {
  background-color: blue;
}

#panel,
#flip {
  padding: 5px;
  text-align: center;
  background-color: yellow;
  border: solid 1px black;
  width: 50%;
  margin: 0 auto;
}

#flip {
  cursor: pointer;
}

#panel {
  padding: 50px;
  display: none;
}
